{{set . "title" "Sign in"}}
{{template "header.html" .}}

<div id="home">

  <h2>Zapytaj eksperta firmy</h2>

  <div id="signin">
    <form action="{{url "Application.EnterDemo"}}">
      {{if .flash.error}}
        <p class="error">
          {{.flash.error}}
        </p>
      {{end}}
      <p>
        <label for="nick">Podaj swoje imię (nick)</label>
        <input type="text" name="user" id="user">
      </p>
      <p style="display:none">
        <label for="nick">Połączenie</label>
        <select name="demo">
          <option value="websocket">WebSocket</option>
        </select>
      </p>
      <p>
        <label></label>
        <input type="submit" id="enter" value="Start">
      </p>
    </form>
  </div>

</div>
{{template "footer.html" .}}
